body{
    background-image: url("shore.jpg");
    background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

    color: black;
    font-size: 25px;
}
.container {
    background-color:#74B9FF;
border-radius: 20px;
padding: 40px; 
position: absolute; 
 right: 1%; 
    
    top: 17%;

    margin-bottom: 100px;
    box-shadow: blue    0px 0px 10px ;
    font-size: 20px;
font-weight: right;
  text-align: right    ;
width: 500px;
  margin: 50px auto;
  font-family: 'Arial', sans-serif;
  margin-left:auto ;
  float: right;

}
h3 {
   background-color: #0984E3; 
    padding: 12px 20px; 
box-shadow:blue 0px 0px 10px ;
    margin-top: 5px;
    font-size: 25px; 
    border-radius: 6px;
    text-align: left; 
 
}
form#frmSign {
    text-align: left; 
    margin-left: 40px;  
 border-radius: 8px; 

}
.tiptuc {
    background-color: #0984E3; 
    color: #ffffff; 
    padding: 12px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px; 
    width: 30%; 
    margin-top: 20px;
    
}
.gioitinh{
    font-size: 20px;
}
.hh{
    width: 100%; 
  padding: 9px;
   
  
    font-size: 18px; 
  
    border-radius: 6px;
}
.kk{
    border-radius: 5px;
     width: 30%;
    padding: 3px;
}